{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Edit User: {{ user.name }}</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    function get_positions(position, position_edit) {
        var options_management = {1: 'Management', 2: 'Admin', 3: 'Teacher', 4: 243,}
        var options_upper = {1: 'Upper Management', 2: 'Management', 3: 'Admin', 4: 'Teacher',}
        if (position === 'Upper Management' || position === 'Master') {
            for (var i = 1; i < 5; i++) {
                if (position_edit === options_upper[i]) {
                    $("#position").append(
                        $("<option selected></option>")
                        .attr("value", options_upper[i])
                        .text(options_upper[i]))
                } else {
                    $("#position").append(
                        $("<option></option>")
                        .attr("value", options_upper[i])
                        .text(options_upper[i]))
                }
            }

        }
        else {
            for (var i = 1; i < 4; i++) {
                if (position_edit === options_management[i]) {
                    $("#position").append(
                        $("<option selected></option>")
                        .attr("value", options_management[i])
                        .text(options_management[i]))
                }else {
                    $("#position").append(
                        $("<option></option>")
                        .attr("value", options_management[i])
                        .text(options_management[i]))
                }
            }
        }
    }
    $(document).ready(function() {

        get_positions('{{position | safe}}', '{{position_edit | safe}}');

    });
        
</script>

{% endblock %}