{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<table>
    <tr valign='top'>
        <td>{% if avatar == None %}
            <img src="{{ user.avatar(128) }}">
            {% else %}
            <img src="{{ url_for('staff.upload', filename=avatar) }}" style="width: 128px">
            {% endif %}
        </td>
        <td style="padding-left: 15px">
            <h1>{{ user.name }}</h1>
 
            <p>Academy: {{ academy.name }}</p>
            <p>Position: {{ user.position }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Phone Number: {{ user.phone }}</p>
            <p>Last Online: {{ user.last_seen }}</p>
            <p>Trained to Teach:  {% for t in trained %} {{ t.name }} ,{% endfor %}</p>


            <p>Recent Classes taught:

            </p>
         
        </td>
    </tr>
</table> 
<p><a href="{{ url_for('staff.upload_file', name=user.name) }}" class="btn btn-default">Upload Avatar</a>
{% if user.name != current_user.name %}
<a href="{{ url_for('staff.email_user', name=user.name) }}" class="btn btn-default">Send E-mail</a>
<a href="" class="btn btn-default">Send Private Message</a>
{% endif %}
{% if current_user.position == 'Management' or current_user.position == 'Upper Management' or current_user.is_master() %}
<a href="{{ url_for('staff.edit_user', name=user.name) }}" class="btn btn-default">Edit Profile</a>      <a href="{{ url_for('staff.remove_user', name=user.name) }}" class="btn btn-default">Remove user</a></p>
{% endif %}
<hr>

{% endblock %}