{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "_formhelpers.html" import render_field %}

{% block styles %}
{{ super() }}
<style>
    .lengthofclass {
        display: none;
    }
    .typeofclass {
        display: none;
    }
    .step {
        display: none;
    }
    .exams{
        display: none;
    }
    .kids{
        display: none;
    }
    .agerange {
        display: none;
    }
    .lesson {
        display: none;
    }
    #lesson_name {
        display: none;
    }
    .companyname {
        display: none;
    }
</style>
{% endblock %}
{% block app_content %}
    <h1>Add Student</h1>


    <form id="form" action="" method="post" class="form" role="form" novalidate>
        {{ form.hidden_tag() }}
        {{ form.csrf_token() }}

        <dl>
            {{ render_field(form.name, id="name", class='form-control', style="width:33%;") }}
            {{ render_field(form.phone, id="phone", class='form-control', style="width:33%;") }}
            {{ render_field(form.email, id="email", class='form-control', style="width:33%;") }}
            {{ render_field(form.comment, id="comment", class='form-control', style="width:33%;") }}
            {{ render_field(form.academy, id="academy", class='form-control', style="width:33%;") }}
            {{ render_field(form.lengthofclass, id="lengthofclass", class='form-control lengthofclass', style="width:33%;") }}
            {{ render_field(form.typeofclass, id="typeofclass", class='form-control typeofclass', style="width:33%;") }}
            {{ render_field(form.step, id="step", class='form-control step', style="width:33%;") }}
            {{ render_field(form.exams, id="exam",class='form-control exams', style="width:33%;") }}
            {{ render_field(form.kids, id='kid', class='form-control kids', style="width:33%;") }}
            {{ render_field(form.agerange, id='age', class='form-control kids', style="width:33%;") }}
            {{ render_field(form.lesson, id='lesson_name', class='form-control lesson_name', style="width:33%;") }}
            {{ render_field(form.companyname, id='companyname', class='form-control companyname', style="width:33%;") }}
            {{ wtf.form_field(form.submit) }}
        </dl>

        <hr>
{% endblock %}


{% block scripts %}
{{ super() }}

<script>
    // global variables
    var type_of = null;
    var step_options = ['121-General English', '121-Business English', 'Group General English', 'Group Business English', 'In-Company-121', 'In-Company General English', 'In-Company Business English', 'Group Intensive'];
    var exam_options = ['121-Exam Class', 'Group Exam']
    var kids_options = ['121-Children', 'Group Children']
    var options_121 =['121-General English', '121-Business English', '121-Exam Class', '121-Children', 'In-Company-121' ]

    // Function for displaying options as required
    function show_options() {
        var selected = $('#typeofclass').children("option:selected").val();
        type_of = selected;
        if (step_options.includes(selected)) {
            $('.exams').hide()
            $('.kids').hide()
            $('.step').show('slow')
            $('.agerange').hide()
        } else if (exam_options.includes(selected)){
            $('.exams').show('slow')
            $('.kids').hide()
            $('.step').hide()
            $('.agerange').hide()
        } else if (kids_options.includes(selected)){
            $('.exams').hide()
            $('.kids').show('slow')
            $('.agerange').show('slow')
            $('.step').hide()
        }
    }

    // Run ajax function
    function run_ajax() {
        $('.lesson').show('slow')
        $('#lesson_name').show('slow')
        
        if (step_options.includes(type_of) && $('#step').val() != 'None') {
            $.ajax(
                {
                type: 'POST',
                url: "/get_classes",
                data: $('#form').serialize(),
                context: form,
                success: function(selectOptions){
                    
                    $("#lesson_name").empty();
                    if (selectOptions.length == 0) {
                        $("#lesson_name").append(
                            $("<option></option>")
                            .attr("value", 'None')
                            .text('No classes of this type are available please create a class.'))
                    }
                    for (var i = 0; i < selectOptions.length; i++){
                        $("#lesson_name").append(
                            $("<option></option>")
                            .attr("value", selectOptions[i]['lesson_id'])
                            .text(selectOptions[i]['lesson_name'] + ' Students: ' + selectOptions[i]['amount_of_students'] + '/8' + ' ' + selectOptions[i]['lesson_time']))
                                                   
                    }
                }          
            });
        
        } else if (exam_options.includes(type_of) && $('#exam').val() != 'None'){

            alert('Please select the level')
            
        } else if (kids_options.includes(type_of) && $('#kid').val() != 'None' || $('#age').val() != 'None'){

            alert('Please select the level')
            
        }

    }
    
    $(document).ready(function(){

        if ($('#typeofclass').val() != 'None' && $('#academy').val() != 'None' && $('#lengthofclass').val() != 'None' && $("#step").val() != 'None') {
            show_options()
            run_ajax()
        }
        
        if ($('#academy').val() != 'None') {
            $('#lengthofclass').show('slow')
            $('.lengthofclass').show('slow')
            $('#typeofclass').show('slow')
            $('.typeofclass').show('slow')
        }

        if ($('#typeofclass').val() != 'None') {
            show_options()
        }
        $('#step').change(function() {
            $('.companyname').hide('slow')
            var selected = $('#typeofclass').children("option:selected").val();
            if (options_121.includes(selected)) {
                $('.lesson').hide('slow')
                $('#lesson_name').hide('slow')
                if (selected=='In-Company-121') {
                    $('.companyname').show('slow')
                }
            }
            else if ($('#typeofclass').val() != 'None' && $('#academy').val() != 'None' && $("#lengthofclass").val() != 'None') {
                run_ajax()
            }
        });
        $('#lengthofclass').change(function() {
            if ($('#typeofclass').val() != 'None' && $('#academy').val() != 'None' && $("#step").val() != 'None') {
                run_ajax()
            }
        });
        $('#academy').change(function(){
            $('#lengthofclass').show('slow')
            $('.lengthofclass').show('slow')
            $('#typeofclass').show('slow')
            $('.typeofclass').show('slow')
            
            if ($('#typeofclass').val() != 'None' && $('#step').val() != 'None' && $("#lengthofclass").val() != 'None') {
                run_ajax()
            }
        });
        $('#typeofclass').change(function(){
            show_options()
            $('.companyname').hide('slow')
            var selected = $(this).children("option:selected").val();
            if (options_121.includes(selected)) {
                $('.lesson').hide('slow')
                $('#lesson_name').hide('slow')
                if (selected=='In-Company-121') {
                    $('.companyname').show('slow')
                }
            }
            else if ($('#step').val() != 'None' && $('#academy').val() != 'None' && $("#lengthofclass").val() != 'None') {
                run_ajax()
            }
        });       
    

    });

    


    // Prevent Submitting without all options selected
    $('#submit').click(function(event) {
        if ($('#academy').val() != 'None' && $('#lengthofclass').val() != 'None' && $('#typeofclass').val() != 'None') {
                if (type_of == null) {
                    alert('Please select the level')
                    event.preventDefault()
                } else if (step_options.includes(type_of) && $('#step').val() == 'None'){

                    alert('Please select the level')
                    event.preventDefault()
                } else if (exam_options.includes(type_of) && $('#exam').val() == 'None'){

                    alert('Please select the level')
                    event.preventDefault()
                } else if (kids_options.includes(type_of) && $('#kid').val() == 'None' || $('#age').val() != 'None'){

                    alert('Please select the level')
                    event.preventDefault()
                }
        } else {
            alert('Please fill out all fields')
            event.preventDefault()
        }
    });
</script>

{% endblock %}