{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "_formhelpers.html" import render_field %}

{% block styles %}
{{ super() }}
<style>
    .lengthofclass {
        display: none;
    }
    .typeofclass {
        display: none;
    }
    .step {
        display: none;
    }
    .exams{
        display: none;
    }
    .kids{
        display: none;
    }
    .agerange {
        display: none;
    }
    #additional1 {
        display: none;
    }
    .step2 {
        display: none;
    }
    .exam2 {
        display: none;
    }
    .lesson_ {
        display: none;
    }
    .kid2 {
        display: none;
    }
    .agerange2 {
        display: none;
    }
    #academy2_message {
        display: none;
    }
    #typeofclass2_message {
        display:none;
    }
    #additional2 {
        display: none;
    }
    .step3 {
        display: none;
    }
    .exam3 {
        display: none;
    }
    .lesson3 {
        display: none;
    }
    .kid3 {
        display: none;
    }
    .agerange3 {
        display: none;
    }
    #academy3_message {
        display: none;
    }
    #typeofclass3_message {
        display:none;
    }
    .companyname {
        display: none;
    }
    .companyname_ {
        display: none;
    }
    .companyname3 {
        display: none;
    }
</style>
{% endblock %}
{% block app_content %}
    <h1>Edit Student: {{ student.name }}</h1>


    <form id="form1" action="" method="post" class="form" role="form" novalidate>
        {{ form.hidden_tag() }}
        {{ form.csrf_token() }}

        <dl>
            {{ render_field(form.name, id="name", class='form-control', style="width:33%;") }}
            {{ render_field(form.phone, id="phone", class='form-control', style="width:33%;") }}
            {{ render_field(form.email, id="email", class='form-control', style="width:33%;") }}
            {{ render_field(form.comment, id="comment", class='form-control', style="width:33%;") }}
            {{ render_field(form.academy, id="academy", class='form-control', style="width:33%;") }}
            {{ render_field(form.lengthofclass, id="lengthofclass", class='form-control lengthofclass', style="width:33%;") }}
            {{ render_field(form.typeofclass, id="typeofclass", class='form-control typeofclass', style="width:33%;") }}
            {{ render_field(form.step, id="step", class='form-control step', style="width:33%;") }}
            {{ render_field(form.exams, id="exam",class='form-control exams', style="width:33%;") }}
            {{ render_field(form.kids, id='kid', class='form-control kids', style="width:33%;") }}
            {{ render_field(form.agerange, id='age', class='form-control kids', style="width:33%;") }}
            {{ render_field(form.lesson, id='lesson_name', class='form-control lesson_name', style="width:33%;") }}
            {{ render_field(form.companyname, id='companyname', class='form-control companyname', style="width:33%;") }}
        </dl>
        {{ wtf.form_field(form.submit) }}
    </form>
        <hr>
    <form id="form2" action="{{ url_for('students.additional_form', student=student_id) }}" method="post" class="form" role="form" novalidate>
        {{ form.hidden_tag() }}
        {{ form.csrf_token() }}
        <dl id="additional1">
            <h4>Additional Class</h4>
            {{ render_field(form2.academy, class='form-control', style="width:33%;") }}
            <div id="academy2_message" class="alert alert-danger" role="alert"></div>
            {{ render_field(form2.lengthofclass, class='form-control lengthofclass', style="width:33%;") }}
            {{ render_field(form2.typeofclass, class='form-control typeofclass', style="width:33%;") }}
            <div id="typeofclass2_message" class="alert alert-danger" role="alert"></div>
            {{ render_field(form2.step, class='form-control step2', style="width:33%;") }}
            {{ render_field(form2.exams, class='form-control exam2', style="width:33%;") }}
            {{ render_field(form2.kids, class='form-control kid2', style="width:33%;") }}
            {{ render_field(form2.agerange, class='form-control kid2', style="width:33%;") }}
            {{ render_field(form2.lesson_, id='lesson_name2', class='form-control lesson_', style="width:33%;") }}
            {{ render_field(form2.companyname_, id='companyname_', class='form-control companyname_', style="width:33%;") }}
            {{ wtf.form_field(form2.submit) }}
        </dl>
        
    </form>
    <hr>
    <form id="form3" action="{{ url_for('students.additional_form2', student=student_id) }}" method="post" class="form" role="form" novalidate>
        {{ form.hidden_tag() }}
        {{ form.csrf_token() }}
    <dl id="additional2">
        <h4>Additional Class</h4>
        {{ render_field(form3.academy, class='form-control', style="width:33%;") }}
        <div id="academy3_message" class="alert alert-danger" role="alert"></div>
        {{ render_field(form3.lengthofclass, class='form-control lengthofclass', style="width:33%;") }}
        {{ render_field(form3.typeofclass, class='form-control typeofclass', style="width:33%;") }}
        <div id="typeofclass3_message" class="alert alert-danger" role="alert"></div>
        {{ render_field(form3.step, class='form-control step3', style="width:33%;") }}
        {{ render_field(form3.exams,class='form-control exam3', style="width:33%;") }}
        {{ render_field(form3.kids,  class='form-control kid3', style="width:33%;") }}
        {{ render_field(form3.agerange, class='form-control kid3', style="width:33%;") }}
        {{ render_field(form3.lesson3, id='lesson_name3', class='form-control lesson3', style="width:33%;") }}
        {{ render_field(form3.companyname3, id='companyname3', class='form-control companyname3', style="width:33%;") }}
        {{ wtf.form_field(form3.submit) }}
    </dl>

    <span><p id="add_additional" class="btn btn-default">Add Additional Class</p> </span>
    </form>
    <hr>
    
{% endblock %}


{% block scripts %}
{{ super() }}

<script>
    // global variables
    var type_of = null;
    var type_of2 = null;
    var type_of3 = null;
    var count = 0;
    var step_options = ['121-General English', '121-Business English', 'Group General English', 'Group Business English', 'In-Company-121', 'In-Company General English', 'In-Company Business English', 'Group Intensive'];
    var exam_options = ['121-Exam Class', 'Group Exam']
    var kids_options = ['121-Children', 'Group Children']
    var options_121 =['121-General English', '121-Business English', '121-Exam Class', '121-Children', 'In-Company-121' ]


    // Function for displaying options as required for original form
    function show_options(type_of_class_id) {
        var selected = $(type_of_class_id).children("option:selected").val();
        if (type_of_class_id === '#typeofclass') {
            type_of = selected;
            var i = '';
        } else if (type_of_class_id === '#typeofclass2') {
            type_of2 = selected;
            var i = '2';
        } else if (type_of_class_id === '#typeofclass3') {
            type_of3 = selected;
            var i = '3';
        }
        if (step_options.includes(selected)) {
            $('.exam' + i).hide()
            $('.kid' + i).hide()
            $('.step' + i).show('slow')
            $('.agerange' + i).hide()
        } else if (exam_options.includes(selected)){
            $('.exam' + i).show('slow')
            $('.kid' + i).hide()
            $('.step' + i).hide()
            $('.agerange' + i).hide()
        } else if (kids_options.includes(selected)){
            $('.exam' + i).hide()
            $('.kid' + i).show('slow')
            $('.agerange' + i).show('slow')
            $('.step' + i).hide()
        }
    }
    // Run ajax function for original form
    function run_ajax(form_id, lesson_name, lesson_class, stepfield_id, examfield_id, kidfield_id, agefield_id, type_of_class) {
        lesson_class.show('slow')
        lesson_name.show('slow')
        // if form_id = additional turn url to one route or the other create differetn route for each ajax call
        if (form_id === '#form1') {
            var url_is = "/get_classes_edit/" + {{student_id | safe}}
        } else if (form_id === '#form2') {
            var url_is = "/get_classes_add1"
        } else if (form_id === '#form3') {
            var url_is = "/get_classes_add2"
        }
        var form = $(form_id).serialize();
        if (step_options.includes(type_of_class) && stepfield_id.val() != 'None') {
            $.ajax(
                {
                type: 'POST',
                url: url_is,
                data: $(form_id).serialize(),
                context: form,
                success: function(selectOptions){
                    lesson_name.empty();
                    console.log(selectOptions.length)
                    if (selectOptions.length == 0) {
                        lesson_name.append(
                            $("<option></option>")
                            .attr("value", 'None')
                            .text('No classes of this type are available please create a class.'))
                    }
                    for (var i = 0; i < selectOptions.length; i++){
                        lesson_name.append(
                            $("<option></option>")
                            .attr("value", selectOptions[i]['lesson_id'])
                            .text(selectOptions[i]['lesson_name'] + ' Students: ' + selectOptions[i]['amount_of_students'] + '/8' + ' ' + selectOptions[i]['lesson_time']))
                    }
                }        
            });
        } else if (exam_options.includes(type_of_class) && examfield_id.val() != 'None'){

            alert('Please select the level')
            
        } else if (kids_options.includes(type_of_class) && kidfield_id.val() != 'None' || agefield_id.val() != 'None'){

            alert('Please select the level')
            
        }

    }
        
    
$(document).ready(function() {
        if ($('#typeofclass2').val() != 'None' && $('#academy2').val() != 'None' && $('#lengthofclass2').val() != 'None' && $("#step2").val() != 'None') {
            $("#additional1").show('slow')

            show_options('#typeofclass2')
            if ($("#lesson_name2").val() != null) {
                $('.lesson_').show('slow')
                $('#lesson_name2').show('slow')
                count = 1
            }
            if ($("#lesson_name2").val() == null) {
                run_ajax('#form2', $('#lesson_name2'), $('.lesson_'), $('#step2'),  $('#exam2'), $('#kid2'), $('#agerange2'), type_of2)
            }
        }
        if ($('#typeofclass3').val() != 'None' && $('#academy3').val() != 'None' && $('#lengthofclass3').val() != 'None' && $("#step3").val() != 'None') {
            $("#additional2").show('slow')
            show_options('#typeofclass3')
            if ($("#lesson_name3").val() != null) {
                $('.lesson3').show('slow')
                $('#lesson_name3').show('slow')
                count = 2
                $("#add_additional").hide('slow')
            }
            if ($("#lesson_name3").val() == null) {
                run_ajax('#form3', $('#lesson_name3'), $('.lesson3'), $('#step3'),  $('#exam3'), $('#kid3'), $('#age3'), type_of3) 
            }
        }
        if ($('#typeofclass').val() != 'None' && $('#academy').val() != 'None' && $('#lengthofclass').val() != 'None' && $("#step").val() != 'None') {
            show_options('#typeofclass')
        }
        if ($('#academy').val() != 'None') {
            $('#lengthofclass').show('slow')
            $('.lengthofclass').show('slow')
            $('#typeofclass').show('slow')
            $('.typeofclass').show('slow')
        }
        if ($('#typeofclass').val() != 'None') {
            show_options('#typeofclass')
        }
        $('#step').change(function() {
            $('.companyname').hide('slow')
            var selected = $('#typeofclass').children("option:selected").val();
            if (options_121.includes(selected)) {
                $('.lesson').hide('slow')
                $('#lesson_name').hide('slow')
                if (selected=='In-Company-121') {
                    $('.companyname').show('slow')
                }
            }
            else if ($('#typeofclass').val() != 'None' && $('#academy').val() != 'None' && $("#lengthofclass").val() != 'None') {
                run_ajax('#form1', $('#lesson_name'), $('.lesson'), $('#step'),  $('#exam'), $('#kid'), $('#age'), type_of)
            }
        });
        $('#lengthofclass').change(function() {
            if ($('#typeofclass').val() != 'None' && $('#academy').val() != 'None' && $("#step").val() != 'None') {
                run_ajax('#form1', $('#lesson_name'), $('.lesson'), $('#step'),  $('#exam'), $('#kid'), $('#age'), type_of)
            }
        });
        $('#academy').change(function(){           
            if ($('#typeofclass').val() != 'None' && $('#step').val() != 'None' && $("#lengthofclass").val() != 'None') {
                run_ajax('#form1', $('#lesson_name'), $('.lesson'), $('#step'),  $('#exam'), $('#kid'), $('#age'), type_of)
            }
        });
        $('#typeofclass').change(function(){
            show_options('#typeofclass')
            $('.companyname').hide('slow')
            var selected = $(this).children("option:selected").val();
            if (options_121.includes(selected)) {
                $('.lesson').hide('slow')
                $('#lesson_name').hide('slow')
                if (selected=='In-Company-121') {
                    $('.companyname').show('slow')
                }
            }
            else if ($('#step').val() != 'None' && $('#academy').val() != 'None' && $("#lengthofclass").val() != 'None') {
                run_ajax('#form1', $('#lesson_name'), $('.lesson'), $('#step'),  $('#exam'), $('#kid'), $('#age'), type_of)
            }
        });       
    
    // Prevent Submitting without all options selected
    $('#submit1').click(function(event) {
        if ($('#academy').val() != 'None' && $('#lengthofclass').val() != 'None' && $('#typeofclass').val() != 'None') {
                if (type_of == null) {
                    alert('Please select the level')
                    event.preventDefault()
                } else if (step_options.includes(type_of) && $('#step').val() == 'None'){

                    alert('Please select the level')
                    event.preventDefault()
                } else if (exam_options.includes(type_of) && $('#exam').val() == 'None'){

                    alert('Please select the level')
                    event.preventDefault()
                } else if (kids_options.includes(type_of) && $('#kid').val() == 'None' || $('#age').val() != 'None'){

                    alert('Please select the level')
                    event.preventDefault()
                } 
        } else {
            alert('Please fill out all fields')
            event.preventDefault()
        }
    });


    // Additional Forms Programming
    $("#add_additional").click(function() {
        count = count + 1
        if(count == 1) {
            $("#additional1").show('slow')
            
        } else if (count == 2) {
            $("#additional2").show('slow')
            $(this).hide('slow')
        }
    });

    if ($('#typeofclass2').val() != 'None' && $('#academy2').val() != 'None' && $('#lengthofclass2').val() != 'None' && $("#step2").val() != 'None') {
        $("#additional1").show('slow')
        show_options('#typeofclass2')
    }
    if ($('#typeofclass2').val() != 'None') {
        $("#additional1").show('slow')
        show_options('#typeofclass2')
    }
    $('#step2').change(function() {
        $('.companyname_').hide('slow')
            var selected = $('#typeofclass2').children("option:selected").val();
            if (options_121.includes(selected)) {
                $('.lesson_').hide('slow')
                $('#lesson_name2').hide('slow')
                if (selected=='In-Company-121') {
                    $('.companyname_').show('slow')
                }
            }
            else if ($('#typeofclass2').val() != 'None' && $('#academy2').val() != 'None' && $("#lengthofclass2").val() != 'None') {
                run_ajax('#form2', $('#lesson_name2'), $('.lesson_'), $('#step2'),  $('#exam2'), $('#kid2'), $('#agerange2'), type_of2)
        }
    });
    $('#lengthofclass2').change(function() {
        if ($('#typeofclass2').val() != 'None' && $('#academy2').val() != 'None' && $("#step2").val() != 'None') {
            run_ajax('#form2', $('#lesson_name2'), $('.lesson_'), $('#step2'),  $('#exam2'), $('#kid2'), $('#agerange2'), type_of2)
        }
    });
    $('#typeofclass2').change(function(){
        show_options('#typeofclass2')
        $('#typeofclass2_message').hide()
        $('#typeofclass2_message').html("")
        if ($(this).children("option:selected").val() == $('#typeofclass').children("option:selected").val()) {
            if ($('#academy').children("option:selected").val() != 'Online') {
                if ($('#academy2').children("option:selected").val() != 'Online') {
                    $('#typeofclass2_message').html( "<p>Don't put a student in the same type of group, unless online!</p>" );
                    $('#typeofclass2_message').show('slow')
                }
            }
        }

        
        $('.companyname_').hide('slow')
        var selected = $(this).children("option:selected").val();
        if (options_121.includes(selected)) {
            $('.lesson_').hide('slow')
            $('#lesson_name2').hide('slow')
            if (selected=='In-Company-121') {
                $('.companyname_').show('slow')
            }
        }
        else if ($('#step2').val() != 'None' && $('#academy2').val() != 'None' && $("#lengthofclass2").val() != 'None') {
            run_ajax('#form2', $('#lesson_name2'), $('.lesson_'), $('#step2'),  $('#exam2'), $('#kid2'), $('#agerange2'), type_of2)
        }
    });  
    $('#academy2').change(function(){
        $('#academy2_message').hide()
        $('#academy2_message').html("")
        if ($(this).children("option:selected").val() != $('#academy').children("option:selected").val()) {
            if ($('#academy').children("option:selected").val() != 'Online') {
                if ($(this).children("option:selected").val() != 'Online') {
                    $('#academy2_message').html( "<p>A student cannot be in two academies at once, unless one is online!</p>" );
                    $('#academy2_message').show('slow')
                }
            }
        }
        if ($('#typeofclass2').val() != 'None' && $('#step2').val() != 'None' && $("#lengthofclass2").val() != 'None') {
            run_ajax('#form2', $('#lesson_name2'), $('.lesson_'), $('#step2'),  $('#exam2'), $('#kid2'), $('#age2'), type_of2)
        }
    });
        
    if ($('#typeofclass2').val() != 'None' && $('#step2').val() != 'None' && $("#lengthofclass2").val() != 'None') {
        $("#additional1").show('slow')    
        show_options('#typeofclass2')
            if ($("#lesson_name2").val() == null) {
                run_ajax('#form2', $('#lesson_name2'), $('.lesson_'), $('#step2'),  $('#exam2'), $('#kid2'), $('#agerange2'), type_of2)
            }           
        }
        
        
    if ($('#typeofclass3').val() != 'None' && $('#academy3').val() != 'None' && $('#lengthofclass3').val() != 'None' && $("#step3").val() != 'None') {
        $("#additional2").show('slow')
        show_options('#typeofclass3')
    }
    if ($('#typeofclass3').val() != 'None') {
        $("#additional2").show('slow')

        show_options('#typeofclass3')
    }

    $('#step3').change(function() {
    
        $('.companyname3').hide('slow')
        var selected = $('#typeofclass3').children("option:selected").val();
        if (options_121.includes(selected)) {
            $('.lesson3').hide('slow')
            $('#lesson_name3').hide('slow')
            if (selected=='In-Company-121') {
                $('.companyname3').show('slow')
            }
        }
        else if ($('#typeofclass3').val() != 'None' && $('#academy3').val() != 'None' && $("#lengthofclass3").val() != 'None') {
            run_ajax('#form3', $('#lesson_name3'), $('.lesson3'), $('#step3'),  $('#exam3'), $('#kid3'), $('#age3'), type_of3) 
        }
    });
    $('#lengthofclass3').change(function() {
        
        show_options('#typeofclass3')
        if ($('#typeofclass3').val() != 'None' && $('#academy3').val() != 'None' && $("#step3").val() != 'None') {
            run_ajax('#form3', $('#lesson_name3'), $('.lesson3'), $('#step3'),  $('#exam3'), $('#kid3'), $('#age3'), type_of3) 
        }
    });
    
    $('#typeofclass3').change(function(){
        show_options('#typeofclass3')
        $('#typeofclass3_message').hide();
        $('#typeofclass3_message').html("");
        if ($(this).children("option:selected").val() == $('#typeofclass').children("option:selected").val()) {
            if ($('#academy').children("option:selected").val() != 'Online') {
                if ($('#academy3').children("option:selected").val() != 'Online') {
                    $('#typeofclass3_message').html( "<p>Don't put a student in the same type of group, unless online!</p>" );
                    $('#typeofclass3_message').show('slow');
                }
            }
            if ($('#academy2').children("option:selected").val() != $('#academy').children("option:selected").val() && $('#academy3').children("option:selected").val() != $('#academy2').children("option:selected").val()) {
                $('#academy3_message').html( "<p>A student cannot be in three academies at once!</p>" );
                $('#academy3_message').show('slow');
            }
        }
        $('.companyname3').hide('slow')
        var selected = $(this).children("option:selected").val();
        if (options_121.includes(selected)) {
            $('.lesson3').hide('slow')
            $('#lesson_name3').hide('slow')
            if (selected=='In-Company-121') {
                $('.companyname3').show('slow')
            }
        }
        else if ($('#step3').val() != 'None' && $('#academy3').val() != 'None' && $("#lengthofclass3").val() != 'None') {
            run_ajax('#form3', $('#lesson_name3'), $('.lesson3'), $('#step3'),  $('#exam3'), $('#kid3'), $('#age3'), type_of3) 
        }
    });
    
      
    $('#academy3').change(function(){
        $('#academy3_message').hide()
        $('#academy3_message').html("")
        if ($(this).children("option:selected").val() != $('#academy').children("option:selected").val()) {
            if ($('#academy').children("option:selected").val() != 'Online') {
                if ($(this).children("option:selected").val() != 'Online') {
                    $('#academy3_message').html( "<p>A student cannot be in two academies at once, unless one is online!</p>" );
                    $('#academy3_message').show('slow')
                }
            }
            if ($('#academy2').children("option:selected").val() != $('#academy').children("option:selected").val() && $('#academy3').children("option:selected").val() != $('#academy2').children("option:selected").val()) {
                $('#academy3_message').html( "<p>A student cannot be in three academies at once!</p>" );
                $('#academy3_message').show('slow')
            }
        }
        if ($('#typeofclass3').val() != 'None' && $('#step3').val() != 'None' && $("#lengthofclass3").val() != 'None') {
            run_ajax('#form3', $('#lesson_name3'), $('.lesson3'), $('#step3'),  $('#exam3'), $('#kid3'), $('#age3'), type_of3)
        }
    });
        
    if ($('#typeofclass3').val() != 'None' && $('#step3').val() != 'None' && $("#lengthofclass3").val() != 'None') {
        $("#additional2").show('slow')
        show_options('#typeofclass3')
        if ($("#lesson_name3").val() == null) {
            run_ajax('#form3', $('#lesson_name3'), $('.lesson3'), $('#step3'),  $('#exam3'), $('#kid3'), $('#age3'), type_of3) 
        }           
    }

});



</script>

{% endblock %}