{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <h1>Classes</h1>

    <table class='table table-hover'>
        <thead>
            <tr>
              <th scope="col">Academy</th>
              <th scope="col">Name</th>
              <th scope="col">Level</th>
              <th scope="col">Days</th>
              <th scope="col">Time</th>
              <th scope="col">Length</th>
              <th scope="col">Number of Classes</th>
              <th scope="col">Amount of Students</th>
            </tr>
          </thead>
          <tbody>
            {% for group in groups %}
            
            <tr>
              <th scope="row">
                {{ group.academy.name }}
                
              </th>
              <td><a href="{{ url_for('classes.view_class', name=group.name, academy=group.academy.name) }}" class="btn btn-default">{{ group.name }}</a></td>
              
              <td>
                {% for s in step %}
                {% if group.step_id == s.id %}
                  {{ s.name }}

                <!-- Else if exam or kids show level-->
                {% endif %}
                {% endfor %}
              </td>
              <td>
                {% for day in days %}
                  {% if day.lessons == group.id %}
                    {{ day.name }}
                  {% endif %}
                {% endfor %}
              </td>
              <td>{{ group.time }}</td>
              <td>{{ group.LengthOfClass.name }}</td>
              <td>{{ group.class_number }}</td>
              <td>{{ group.amount_of_students }}</td>
            </tr>
            {% endfor %}
            <tr>
              <td>
                {% if prev_url %}
                  <a href="{{ prev_url }}" class="btn btn-default">Previous Classes</a>
                {% endif %}
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                {% if next_url %}
                  <a href="{{ next_url }}" class="btn btn-default">More Classes</a>
                {% endif %}
              </td>
            </tr>
          </tbody>

    </table>

{% endblock %}