{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "_formhelpers.html" import render_field %}

{% block styles %}
{{ super() }}
<style>
    .step {
        display: inline;
    }
    .exams{
        display: none;
    }
    .kids{
        display: none;
    }
    .agerange{
        display: none;
    }
    .name {
        display: none;
    }
    #name {
        display: none;
    }
</style>
{% endblock %}

{% block app_content %}
    <h1>{{ option }} Class</h1>

    <p>If making a 121 class please do this in either with the add student page or edit student page</p>
    <form action="" method="post" class="form" role="form" novalidate>
        {{ form.hidden_tag() }}
        {{ form.csrf_token() }}

        <dl>
            {{ render_field(form.name, id="name", class='form-control', style="width:33%;") }}
            {{ render_field(form.time, id="time", class='form-control', style="width:33%;") }}
            {{ render_field(form.academy, id="academy", class='form-control', style="width:33%;") }}
            {{ render_field(form.daysdone, id="daysdone", class='form-control', style="width:33%;") }}
            {{ render_field(form.lengthofclass, id="lengthofclass", class='form-control', style="width:33%;") }}
            {{ render_field(form.comment, id="comment", class='form-control', style="width:33%;") }}
            {{ render_field(form.typeofclass, id="typeofclass", class='form-control', style="width:33%;") }}
            {{ render_field(form.step, class='form-control step', style="width:33%;") }}
            {{ render_field(form.startat, id="startat", class='form-control startat', style="width:33%;") }}
            {{ render_field(form.exams, class='form-control exams', style="width:33%;") }}
            {{ render_field(form.kids, class='form-control kids', style="width:33%;") }}
            {{ render_field(form.agerange, class='form-control kids', style="width:33%;") }}
            {{ wtf.form_field(form.submit) }}
        </dl>

        <hr>
{% endblock %}

{% block scripts %}
{{ super() }}

<script>
    var type_of = null;
    var step_options = ['121-General English', '121-Business English', 'Group General English', 'Group Business English', 'In-Company-121', 'In-Company General English', 'In-Company Business English', 'Group Intensive'];
    var exam_options = ['121-Exam Class', 'Group Exam']
    var kids_options = ['121-Children', 'Group Children']

    function show_options() {
        var selected = $('#typeofclass').children("option:selected").val();
        type_of = selected;
        if (step_options.includes(selected)) {
            $('.exams').hide()
            $('.kids').hide()
            $('.step').show('slow')
            $('.startat').show('slow')
            $('.agerange').hide()
        } else if (exam_options.includes(selected)){
            $('.exams').show('slow')
            $('.kids').hide()
            $('.step').hide()
            $('.startat').hide()
            $('.agerange').hide()
        } else if (kids_options.includes(selected)){
            $('.exams').hide()
            $('.startat').hide()
            $('.kids').show('slow')
            $('.agerange').show('slow')
            $('.step').hide()
        }
    }

    function get_lessons(step) {
        var lesson = step * 10 - 9
        $("#startat").empty();
        for (var i = 0;i < 10; i++) {
           
            $("#startat").append(
                $("<option></option>")
                .attr("value", lesson)
                .text(lesson))
            lesson = lesson + 1

        }
    }
$(document).ready(function(){
    show_options();
    get_lessons($('#step').val());
    if ($("startat").val() === null){
        get_lessons($('#step').val())
    }
      
    
    $('#step').change(function(){
        var selected = $(this).children("option:selected").val();
        get_lessons(selected)
             
    });
    $('#typeofclass').change(function() {
        show_options()
        var ic_options = ['In-Company-121', 'In-Company General English', 'In-Company Business English']
        var selected = $(this).children("option:selected").val();
        if (ic_options.includes(selected)) {
            $('#name').show('slow');
            $('.name').show('slow');

        } else {
            $('#name').hide('slow');
            $('.name').hide('slow');
        }
    });
});
</script>
{% endblock %}