{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <h1>Edit Submitted Progress: {{ lesson.name }}</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script>
    function get_lessons(step) {
        var lesson = step * 10 - 9
        $("#lesson_number").empty();
        for (var i = 0; i < 10; i++) {
           
            $("#lesson_number").append(
                $("<option></option>")
                .attr("value", lesson)
                .text(lesson))
            lesson = lesson + 1

        }
    }
    function get_pages(step) {
        var upperlimits = {1: 187, 2: 207, 3: 202, 4: 243, 5: 249, 6: 284, 7: 271, 8: 265, 9: 316, 10: 294, 11: 202, 12: 278, 13: 290, 14: 318, 15: 308, 16: 336};
        for (var i=1; i <= upperlimits[step]; i++) {
            $("#last_page").append(
                $("<option></option>")
                .attr("value", i)
                .text(i))
        }
    }
    $(document).ready(function() {
        get_lessons({{step | safe}});
        get_pages({{step | safe}});
    });
</script>
{% endblock %}