{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "_attendancehelper.html" import render_field %}

{% block styles %}
{{ super() }}

<style>
    #comment {
        resize:vertical;
    }
</style>
{% endblock %}

{% block app_content %}
<h3>Class View</h3>
        <p><a href="{{ url_for('classes.no_show', class_id=lesson.id) }}" class="btn btn-default">No Show</a></p>
        {% if current_user.position == 'Management' and current_user.academy_id == academy.id or current_user.position == 'Upper Management' or current_user.is_master() %}
        <p><a href="" class="btn btn-default">Edit Class</a> <a href="{{ url_for('classes.remove_class', class_id=lesson.id) }}" class="btn btn-default">Remove Class</a> <a href="{{ url_for('classes.insert_custom', class_id=lesson.id) }}" class="btn btn-default">Insert Custom Progress</a> <a href="{{ url_for('classes.move_class', move='FORWARD', lesson=lesson.id) }}" class="btn btn-default">Move Forward</a> <a href="{{ url_for('classes.move_class', move='BACKWARDS', lesson=lesson.id) }}" class="btn btn-default">Move Backwards</a></p>
        {% endif %}
<table class='table'>
    <thead>
        <tr>
        <th scope="col">
            Class Details
        </th>
        <th scope="col">
            {% if expected %}
            Expected Progress
            {% endif %}
        </th>
        {% if expected and lesson.LengthOfClass.name == '2 Hours' or lesson.LengthOfClass.name == '2,5 Hours'%}
        <th scope="col">
            Expected Progress          
            
        </th>
        {% endif %}
        </tr>
    </thead>
    <tr>
        <td>
            <b>Step:</b> {{ lesson.step.name }}
        </td>
        <td>
            {% if custom_progress != None %}
                <b>Inserted By:</b> {% for i in users %}{% if i.id == custom_progress.user_id %} {{ i.name }} {% endif %} {% endfor %}
            {% else %}
                {% if expected %}
                {% for i in expected %}
                {% if i.class_number == lesson.class_number %}
                    <b>Last Lesson:</b> {{ i.lesson_number }}
                {% endif %}
                {% endfor %}
                {% endif %}
            {% endif %}
        </td>
        {% if expected and lesson.LengthOfClass.name == '2 Hours' or lesson.LengthOfClass.name == '2,5 Hours'%}
        <td>
            {% if expected %}
            {% for i in expected %}
            {% if i.class_number == lesson.class_number + 1 %}
                <b>Last Lesson:</b> {{ i.lesson_number }}
            {% endif %}
            {% endfor %}
            {% endif %}
        </td>
        {% endif %}
    </tr>
    <tr>
        <td>
            <b>Name:</b> {{ lesson.name }}
        </td>
        <td>
            {% if custom_progress != None %}
                <b>Message:</b> {{ custom_progress.message }}
            {% else %}
                {% if expected %}
                {% for i in expected %}
                {% if i.class_number == lesson.class_number %}
                    <b>Last Page:</b> <p id="expected_page">{{ i.last_page }}</p>
                {% endif %}
                {% endfor %}
                {% endif %}
            {% endif %}
        </td>
        {% if expected and lesson.LengthOfClass.name == '2 Hours' or lesson.LengthOfClass.name == '2,5 Hours'%}
        <td>
            {% if expected %}
            {% for i in expected %}
            {% if i.class_number == lesson.class_number + 1 %}
                <b>Last Page:</b> <p id="expected_page">{{ i.last_page }}</p>
            {% endif %}
            {% endfor %}
            {% endif %}
        </td>
        {% endif %}
    </tr>
    <tr>
        <td>
           <b>Special Instructions:</b> {{ lesson.comment }}
        </td>
        <td>
            {% if custom_progress != None %}
                <b>Exercises:</b> {{ custom_progress.exercises }}
            {% else %}
                {% if expected %}
                {% for i in expected %}
                {% if i.class_number == lesson.class_number %}
                    <b>Last Word:</b> {{ i.last_word }}
                {% endif %}
                {% endfor %}
                {% endif %}
            {% endif %}
        </td>
        {% if expected and lesson.LengthOfClass.name == '2 Hours' or lesson.LengthOfClass.name == '2,5 Hours'%}
        <td>
            {% if expected %}
            {% for i in expected %}
            {% if i.class_number == lesson.class_number + 1%}
                <b>Last Word:</b> {{ i.last_word }}
            {% endif %}
            {% endfor %}
            {% endif %}
        </td>
        {% endif %}
    </tr>
    <tr>
        <td>
            <b>Amount of Students:</b> {{ lesson.amount_of_students }}
        </td>
        <td>
            {% if custom_progress != None %}
            <a href="{{ url_for('classes.edit_custom', custom_id=custom_progress.id) }}" class="btn btn-default">Edit Custom</a> <a href="{{ url_for('classes.remove_custom', custom_id=custom_progress.id) }}" class="btn btn-default">Remove Custom</a>
            {% else %}
                {% if expected %}
                {% for i in expected %}
                {% if i.class_number == lesson.class_number %}
                    <b>Exercises to do:</b> {{ i.exercises }}
                {% endif %}
                {% endfor %}
                {% endif %}
            {% endif %}
        </td>
        {% if expected and lesson.LengthOfClass.name == '2 Hours' or lesson.LengthOfClass.name == '2,5 Hours'%}
        <td>
            {% if expected %}
            {% for i in expected %}
            {% if i.class_number == lesson.class_number + 1 %}
                <b>Exercises to do:</b> {{ i.exercises }}
            {% endif %}
            {% endfor %}
            {% endif %}
        </td>
        {% endif %}
    </tr>
    <tr>
        <th scope="col">
            <b>Exercises already done:</b>
        </th>
        <td>
            {% for i in actual_progress %}
            {% if i.exercises != '' %}
            {{ i.exercises }} ,
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th scope="col" >
            New Progress:
        </th>
        <th scope="col" colspan="2">
            Attendance
        </th>
    </tr>    
    <tr style="width: 35%;">
        <form id="update_form" action="" method="post" class="form" role="form" novalidate>
            {{ update_form.hidden_tag() }}
            {{ update_form.csrf_token() }}
    
        <td >
            <table class='table table-hover'>
                <dl>
                {% if lesson.step_id %}
                  <tbody>
                    <tr>
                        <td>
                            <b>Lesson Number:</b>
                        </td>
                        <td>
                            {{ render_field(update_form.lesson_number, id="lesson_number", class='form-control', style="width:33%;") }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Last Page:</b>
                        </td>
                        <td>
                            {{ render_field(update_form.last_page, id="last_page", class='form-control', style="width:33%;") }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Lesson Word:</b>
                        </td>
                        <td>
                            {{ render_field(update_form.last_word, id="last_word", class='form-control', style="width:33%;") }}
                            <div id="char_remaining_last_word" style="color:red;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Exercises:</b>
                        </td>
                        <td>
                            {{ render_field(update_form.exercises, id="exercises", class='form-control', style="width:33%;") }}
                            <div id="char_remaining_exercises" style="color:red;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Comment:</b>
                        </td>
                        <td>
                            {{ render_field(update_form.comment, id="comment", class='form-control', style="width:33%;") }}
                            <div id="char_remaining_comment" style="color:red;"></div>
                        </td>
                    </tr>
                </tbody>
                {% endif %}
                </dl>
                <tr>
                    <td>{{ wtf.form_field(update_form.sub) }}</td>
                </tr>
            </table>
        </form>
        </td>
        <td style="width:65%;" colspan="2">
            <table class='table table-hover'>
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Average Grade</th>
                        <th scope="col">Classes Not Attended</th>
                        <th scope="col">Attended?</th>
                        <th scope="col">Score</th>
                        <th scope="col">Issue</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in range(studentcount) %}
                    <form id="attendance-{{ i }}" + i action="" method="post" class="form" role="form" novalidate>
                        {{ forms[i].hidden_tag() }}
                        {{ forms[i].csrf_token() }}
                    <dl>
                    <tr>
                        <th scope="row">
                            <a href="{{ url_for('students.student_profile', name=students[i].name, academy=academy.name) }}" class="btn btn-default">{{ students[i].name }}</a>
                        </th>
                        <td>
                            {{ students[i].mark_average}}
                        </td>
                        <td>{{ students[i].days_missed }}</td>
                        <td>{{ render_field(forms[i].attended, id="attended" + i|string, class='form-control') }}</td>
                        <td>
                            {{ render_field(forms[i].score, id="score" + i|string , class='form-control', style="width:70%;") }}
                            {% if expected.last_word == 'END OF STEP EXAM' %}
                            {{ render_field(forms[i].writing, id="writing" + i|string, class='form-control') }}
                            {{ render_field(forms[i].speaking, id="speaking" + i|string, class='form-control') }}
                            {% endif %}                            
                        </td>
                        <td><a href="" class="btn btn-default">Report Problem.</a></td> <!--Implement email sending student details with email-->
                    </tr>
                </dl>
                    <tr id="{{ 'error-' + i|string }}" style="display:none;">
                        
                    </tr>

                    
                    </form>
                    {% endfor %}
                  </tbody>
            
            </table>
        </td>
    </tr>
    
    <tr>
        {% if actual_progress != None %}
        {% include 'class/_progress.html' %}
        {% endif %}
    </tr>
</table>

{% endblock %}

{% block scripts %}
{{ super() }}

<script>
    
    function get_lessons(step) {
        var lesson = step * 10 - 9
        $("#lesson_number").empty();
        for (var i = 0; i < 10; i++) {
           
            $("#lesson_number").append(
                $("<option></option>")
                .attr("value", lesson)
                .text(lesson))
            lesson = lesson + 1

        }
    }
    function get_pages(step, current_page) {
        var upperlimits = {1: 187, 2: 207, 3: 202, 4: 243, 5: 249, 6: 284, 7: 271, 8: 265, 9: 316, 10: 294, 11: 202, 12: 278, 13: 290, 14: 318, 15: 308, 16: 336};
        console.log(current_page)
        if (current_page === 'None') {
            for (var i=1; i <= upperlimits[step]; i++) {
                $("#last_page").append(
                    $("<option></option>")
                    .attr("value", i)
                    .text(i))
            }
        } else {
            for (var i=current_page; i <= upperlimits[step]; i++) {
                $("#last_page").append(
                    $("<option></option>")
                    .attr("value", i)
                    .text(i))
            }
        }        
    }
    
    function send_attendance(name, lesson, form_id, i) {
        
        var url = '/attendance/' + name + '/' + lesson
        $('#error-' + i).hide('slow')
        $('#error-' + i).html('')
        var form = $('#' + form_id)
        

        return $.ajax({
            type: "POST",
            url: url,
            data: $('#'+ form_id).serialize(),
            context: form,
        }).then(function(data) {
            return $.Deferred(function (deferred) {
                if (data.data.message == undefined) {
                    
                    if (data.data.score[1] == undefined) {
                        var error_data = data.data.score[0]
                    } else {
                        var error_data = data.data.score[1]
                    }
                    $('#error-' + i).show('slow')
                    $('#error-' + i).html('<p  style="color:red;">' + error_data + '</p>')
                    deferred.reject('Not allowed'); // Throw here to propagate to the catch handler
                } else { 
                    console.log(data.data.message)  // display the returned data in the console.
                    deferred.resolve(data)
                }
            })
        }); 
                 
    }
    
    function countchar(max_length, warn_length, messageid, fieldid) {
        /* Character counter function */

        var len = $(fieldid).val().length;
        if (len >= max_length) {
          $('#' + messageid).text('Characters Remaining: 0');
        } else if (len >= max_length - warn_length) {
          $('#' + messageid).text('Characters Remaining:' + (max_length - len).toString());
        } else {
          $('#' + messageid).text('');
        }
    }
    $(document).ready(function() {

        get_lessons({{step | safe}});
        get_pages({{step | safe}}, '{{current_last_page | safe}}');

        var csrf_token = "{{ csrf_token() }}";
        var lesson = {{lesson.id | safe}};     
        var st = {{st | tojson}};
        var studentcount = {{studentcount | safe}};

    
    
        $('#update_form').submit(function (e) {
            /* 
                Function to submit all ajax calls, while waiting for response. Once Submitted allow final form submittion. 
                    · Note Submit buttom id cannot be 'submit'
            */
             
            e.preventDefault();
            var deferred = [];
            const thisform = this;

            for (var i = 0; i < studentcount ; i++) {
                deferred.push(
                    send_attendance(st[i], lesson, 'attendance-' + i, i));
            }
            
            $.when(...deferred).then(function() {
                    thisform.submit();
            
                }).fail(function() {
                    
                })

            
        });

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
                
            }
        })
    });

    // Character counters for text fields
    $('#comment').keydown(function(e) {
        var len = $("#comment").val().length;
        const key = e.key; 
        if (key === "Backspace" || key === "Delete") { 
        } else if (len >= 450) {
          e.preventDefault()
          $('#comment').text('Characters Remaining: 0');
        }
      }).keyup(function() {
        countchar(450, 50, "char_remaining_comment", "#comment");
        let len = $("#comment").val().length;
        if (len > 450){
            $('#char_remaining_comment').text('Too many characters remove some or else there will be problems with submission.');
        }
    });
    $('#exercises').keydown(function(e) {
        var len = $("#exercises").val().length;
        const key = e.key; 
        if (key === "Backspace" || key === "Delete") { 
        } else if (len >= 100) {
          e.preventDefault()
          $('#exercises').text('Characters Remaining: 0');
        }
      }).keyup(function() {
        countchar(100, 20, "char_remaining_exercises", "#exercises");
        let len = $("#exercises").val().length;
        if (len > 100){
            $('#char_remaining_exercises').text('Too many characters remove some or else there will be problems with submission.');
        }
      });
    $('#last_word').keydown(function(e) {
        var len = $("#last_word").val().length;
        const key = e.key; 
        if (key === "Backspace" || key === "Delete") { 
        } else if (len >= 38) {
          e.preventDefault()
          $('#last_word').text('Characters Remaining: 0');
        }
      }).keyup(function() {
        countchar(38, 20, "char_remaining_last_word", "#last_word");
        let len = $("#last_word").val().length;
        if (len > 38){
            $('#char_remaining_last_word').text('Too many characters remove some or else there will be problems with submission.');
        }
      });
</script>
{% endblock %}