{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super()}}
{% endblock %}

{% block app_content %}
<h3>Class View</h3>
        {% if current_user.position == 'Management' and current_user.academy_id == academy.id or current_user.position == 'Upper Management' or current_user.is_master() %}
        <p><a href="" class="btn btn-default">Edit Class</a> <a href="" class="btn btn-default">Remove Class</a> <a href="" class="btn btn-default">Insert Custom Progress</a> <a href="" class="btn btn-default">Move Forward</a></p>
        {% endif %}
<table class='table table-hover'>
    <thead>
        <tr>
        <th scope="col">
            Class Details
        </th>
        <th scope="col">
            Expected Progress
        </th>
        </tr>
    </thead>
    <tr>
        <td>
            <b>Step:</b> {{ lesson.step.name }}
        </td>
        <td>
            {% for i in expected %}
            {% if i.class_number == lesson.class_number %}
                <b>Last Lesson:</b> {{ i.lesson_number }}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>
            <b>Name:</b> {{ lesson.name }}
        </td>
        <td>
            {% for i in expected %}
            {% if i.class_number == lesson.class_number %}
                <b>Last Page:</b> {{ i.last_page }}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>
           <b>Special Instructions:</b> {{ lesson.comment }}
        </td>
        <td>
            {% for i in expected %}
            {% if i.class_number == lesson.class_number %}
                <b>Last Word:</b> {{ i.last_word }}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>
            <b>Amount of Students:</b> {{ lesson.amount_of_students }}
        </td>
        <td>
            {% for i in expected %}
            {% if i.class_number == lesson.class_number %}
                <b>Exercises to do:</b> {{ i.exercises }}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th scope="col">
            <b>Exercises already done:</b>
        </th>
        <td>
            {% for i in actual_progress %}
            {{ i.exercises}}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th scope="col">
            New Progress:
        </th>
        <th scope="col">
            Attendance
        </th>
    </tr>
    <tr>
        <td>
            render_field(update_form.lesson_number, id="lesson_number", class='form-control lesson_number', style="width:33%;")
        </td>
        <td>
            
        </td>
    </tr>
    
    <tr>
        <td>
            {% include '_updateprogress.html' %}
        </td>
        <td>
            <!--{% include '_students.html' %} -->
        </td>
    </tr>
    <tr>
        {% if actual_progress != None %}
        {% include '_progress.html' %}
        {% endif %}
    </tr>
</table>

{% endblock %}

{% block scripts %}
{% endblock %}