{% import 'bootstrap/wtf.html' as wtf %}
{% from "_attendancehelper.html" import render_field %}

<table class='table table-hover'>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Average Grade</th>
            <th scope="col">Classes Not Attended</th>
            <th scope="col">Attended?</th>
            <th scope="col">Score</th>
            <th scope="col">Issue</th>
        </tr>
      </thead>
      <tbody>
        {% for i in range(studentcount) %}
        
        <tr>
            <th scope="row">
                <a href="{{ url_for('students.student_profile', name=students[i].name, academy=academy.name) }}" class="btn btn-default">{{ students[i].name }}</a>
            </th>
            <td>
                mark calculation 
            </td>
            <td>{{ students[i].days_missed }}</td>
            <td>{{ render_field(forms[i].attended, id="attended" + i|string, class='form-control') }}</td>
            <td>
                {{ render_field(forms[i].score, id="score" + i|string , class='form-control', style="width:70%;") }}
                {% if expected.last_word == 'END OF STEP EXAM' %}
                {{ render_field(forms[i].writing, id="writing" + i|string, class='form-control') }}
                {{ render_field(forms[i].speaking, id="speaking" + i|string, class='form-control') }}
                {% endif %}
                
            </td>
            <td><a href="" class="btn btn-default">Report Problem.</a></td> <!--Implement email sending student details with email-->
        </tr>
        
        {% endfor %}
      </tbody>

</table>