
{% import 'bootstrap/wtf.html' as wtf %}
{% from "_attendancehelper.html" import render_field %}

<table class='table table-hover'>
    {% if lesson.step_id %}
      <tbody>
        <tr>
            <td>
                <b>Lesson Number:</b>
            </td>
            <td>
                {{ render_field(update_form.lesson_number, id="lesson_number", class='form-control', style="width:33%;") }}
            </td>
        </tr>
        <tr>
            <td>
                <b>Last Page:</b>
            </td>
            <td>
                {{ render_field(update_form.last_page, id="last_page", class='form-control', style="width:33%;") }}
            </td>
        </tr>
        <tr>
            <td>
                <b>Lesson Word:</b>
            </td>
            <td>
                {{ render_field(update_form.last_word, id="last_word", class='form-control', style="width:33%;") }}
            </td>
        </tr>
        <tr>
            <td>
                <b>Exercises:</b>
            </td>
            <td>
                {{ render_field(update_form.exercises, id="exercises", class='form-control', style="width:33%;") }}
            </td>
        </tr>
        <tr>
            <td>
                <b>Comment:</b>
            </td>
            <td>
                {{ render_field(update_form.comment, id="comment", class='form-control', style="width:33%;") }}
            </td>
        </tr>
      </tbody>
      {% endif %}
</table>